@if (doDisplay) {
    <div id="container" class="container" [ngStyle]="canvasStyle" >
        <a href="/" class="header-link">
            <h1
                class="title"
                [style.margin]="titleMargin">
                Alan's Portfolio
            </h1>
        </a>
        <div id="menu" class="menu">
            @for (item of menuItems; track $index; let i = $index) {
                <a href="{{ item.link }}"
                    [ngClass]="menuClass[i]">
                    <p>{{ item.label }}</p>
                </a>
            }
        </div>  
    </div>
}
