.header {
    display: flex;
    justify-content: center;
    width: fit-content;
    background: black;
    transform: rotateX(90deg);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.menu-item {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 2.4px 16px;
    font-size: 20px;

    border-style: solid;
    border-color: black;
    border-width: 2.4px;
    border-radius: 0px;
}

.menu-item:hover {
    background-color: rgba(cornsilk, 0.16);
    border-color: cornsilk;
    border-style: solid;
    border-width: 2.4px;
    border-radius: 8px;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4.2px;
    width: 100%;
    height: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='4%' y1='1' x2='96%' y2='1' style='stroke: cornsilk; stroke-width: 2.4; stroke-linecap: round'/></svg>");
    background-repeat: repeat-x;
}

.animation {
    transform-style: preserve-3d;
    transform-origin: center center -75px;
    transition: transform 0.5s ease;
    transition-delay: 1s;
}

.title {
    transition: margin 0.5s ease;
}

.rotate {
  transform-origin: center center -75px;
  transform: rotateX(0deg);
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
}
