<div id="container" class="container" [ngStyle]="canvasStyle" >
    <div [ngClass]="headerClass">
        <h1
            class="title"
            [style.margin]="titleMargin"
            (mouseenter)="onMouseEnter(-1)"
            (mouseleave)="onMouseLeave(-1)"
            (click)="onClick(-1)">
            Alan's Portfolio
        </h1>
    </div>
    @if (displayMenu) {
        <div id="menu" class="menu">
            @for (item of menuItems; track $index; let i = $index) {
                <div
                    [ngClass]="menuClass[i]"
                    (mouseenter)="onMouseEnter(i)"
                    (mouseleave)="onMouseLeave(i)"
                    (click)="onClick(i)">
                    <p>{{ item.label }}</p>
                </div>
            }
        </div>  
    }
</div>
