<div class="container" [ngStyle]="canvasStyle" >
    <div #container [ngClass]="headerClass">
        <h1
            class="title"
            [style.margin]="titleMargin"
            (mouseenter)="onMouseEnter(-1)"
            (mouseleave)="onMouseLeave(-1)"
            (click)="onClick(-1)">
            Alan's Portfolio
        </h1>
    </div>
    <div *ngIf="displayMenu" class="menu">
        <div [ngClass]="menuClass[i]" *ngFor="let item of menuItems; let i = index">
            <div
                (mouseenter)="onMouseEnter(i)"
                (mouseleave)="onMouseLeave(i)"
                (click)="onClick(i)">
                <p>{{ item.label }}</p>
            </div>
        </div>
    </div>
</div>
