<div class="container">
    <div class="header">
        <p class="underline">Site Map</p>
        <div class="link-container">
            <a class="sitemap" *ngFor="let page of pages" href="{{page.link}}">{{page.label}}</a>
        </div>
    </div>
    <div class="header">
        <p class="underline">Socials</p>
        <div class="link-container">
            <div class="social-container"
                 onclick="window.open('https://www.linkedin.com/in/alan-shipman/', '_blank', rel='noopener noreferrer')">
                <a>Linked</a>
                <logo-linkedin length="16"></logo-linkedin>
            </div>
            <div class="social-container"
                 onclick="window.open('https://github.com/shipmaal', '_blank', rel='noopener noreferrer')">
                <logo-github></logo-github>
                <a> GitHub</a>
            </div>
        </div>
    </div>
    <div class="header">
        <p class="underline">Support me</p>
        <div class="link-container">
            <paypal-button></paypal-button>
        </div>
    </div>
</div>
<div class="bottom">

</div>


