pre {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: break-word;
    height: fit-content;
    width: 517px;

    code {
        flex: 1;
        line-height: 1.5em;
        font-size: 14px;
        min-height: 100%;
        padding: 1em 1.2em;

        &.hljs-line-numbers {
            padding: 0 !important;
        }
    }
}


/** Line numbers styles */
.hljs {
    margin: 0 0 0 1em;
    padding: 10px;
    border: 1.2px solid gray;
    border-radius: 12px;
    transition: border ease 1s;
}

.hljs-ln {
    padding: 8px 0;

    tr {
        &:first-child td {
            padding-top: 8px !important;
        }

        &:last-child td {
            padding-bottom: 8px !important;
        }
    }
}

/* for block of numbers */
td.hljs-ln-numbers {
    user-select: none;
    text-align: center;
    border-right: 1px solid gray;
    vertical-align: top;
    padding-right: 8px !important;
    padding-left: 8px !important;
}

/* for block of code */
td.hljs-ln-code {
    padding-left: 8px !important;
}

.example-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.code-container {
    position: relative;
}

ui-framework-button {
    position: absolute;
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    margin: 0 1em;
    padding: 1em;
}

.code-padding {
    height: 440px;
}

.paragraph-div {
    width: 48%;
    text-align: justify;
    word-break: break-word;
    line-height: 1.5;
    margin-right: 1em;
}

.p-one {
    margin-bottom: 0;
}

.form-div {
    display: flex;
    flex-direction: row;
}

.example-side-paragraph {
    padding-right: 1em;
    margin: 0;
}

.below-example {
    margin-top: 0;
    line-height: 1.5;
}

angular-example {
    float: right;
    height: fit-content;
    padding: 1em;
    height: 100px;
}

.react-container {
    width: 32px;
    height: 32px;
}
