<div>
    <div>
        <div class="example-container">
            <div class="paragraph-div">
                <p class="p-one">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed ac quam a elit vehicula tincidunt ut vel purus. Curabitur
                    sit amet ligula eu massa convallis tristique. Fusce ullamcorper
                    augue ac fermentum suscipit. Pellentesque habitant morbi tristique
                </p>
                <angular-example></angular-example>
                <p>
                    lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed ac quam a elit vehicula tincidunt ut vel purus. Curabitur
                    sit amet ligula eu massa convallis tristique. Fusce ullamcorper
                    lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed ac quam a elit vehicula tincidunt ut vel purus. Curabitur
                    sit amet ligula eu massa convallis tristique. Fusce ullamcorper
                    augue ac fermentum suscipit. Pellentesque habitant morbi tristique
                </p>


                <p class="below-example">
                    lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed ac quam a elit vehicula tincidunt ut vel purus. Curabitur
                    sit amet ligula eu massa convallis tristique. Fusce ullamcorper
                    augue ac fermentum suscipit. Pellentesque habitant morbi tristique
                </p>
            </div>
            <div class="code-container">
                <ui-framework-button (buttonState)="updateFramework($event)" />
                <div class="code-padding">
                    @if (framework === 'Angular') {
                    <pre>
                    <code [highlight]="code"
                          [languages]="['typescript']"></code>
                    </pre>
                    }
                    @else {
                    <app-react-code></app-react-code>
                    }
                </div>

            </div>
            
           
        </div>
    </div>
    
</div>


