<p>portfolio works!</p>
<div>
    <div>
        <div class="example-container">
            <div class="code-container">
                <ui-framework-button (buttonState)="updateFramework($event)" />
                <div class="code-padding">
                    @if (framework === 'Angular') {
                    <pre>
                    <code [highlight]="code"
                          [languages]="['typescript']"></code>
                    </pre>
                    }
                    @else {
                    <app-react-code></app-react-code>
                    }
                </div>

            </div>
            
            <angular-example></angular-example>
        </div>
    </div>
    
</div>


