
<content-container>
    <div class="subcontainer">
        <div class="paragraph-div">
            <p class="about-paragraph">
                My name is Alan Shipman. I am a Junior Computer Science
                major at Boston College. I am interested in the CS field and
                am looking for a job in the industry. I hope that this website
                can be used to showcase my skills and experience beyond
                what my resume can do.
            </p>
        </div>
        <svg id="chart" width="8" height="100%">
            <line x1="4" y1="16" x2="4" y2="96%"></line>
        </svg>
        <img class="image"
             ngSrc="../../../assets/DSC_4893 2.jpg"
             width="530"
             height="350"
             priority>
    </div>
</content-container>

