.about-page {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.subcontainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.paragraph-div {
    width: 48%;
    text-align: justify;
    word-break: break-word;
    line-height: 1.5;
}

.about-first-paragraph {
    margin-top: 32px;
}


#chart {
    line {
        stroke: cornsilk;
        stroke-width: 4;
        stroke-linecap: round;
    }
}

.image {
    width: 48%;
    margin: 32px 0;
}
