a {
    color: cornsilk;
}

a:hover {
    color: whitesmoke;
}

.about-page {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: fit-content;
    min-height: fit-content;
}

.subcontainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 32px 0;
    height: 450px;
}

.paragraph-div {
    width: 60%;
    text-align: justify;
    word-break: break-word;
    line-height: 1.5;
}

.about-first-paragraph {
    margin-top: 0;
}


#chart {
    line {
        stroke: cornsilk;
        stroke-width: 4;
        stroke-linecap: round;
    }
}

.image {
    // margin: 32px 0;
    height: auto !important;
    width: 100% !important;
}
