
<div class="about-page">
    <div class="container" [ngStyle]="containerStyle">
        <div class="subcontainer">
            <div class="paragraph-div">
                <p class="about-paragraph">
                    My name is Alan Shipman. I am a Junior Computer Science
                    major at Boston College. I am interested in the CS field and
                    am looking for a job in the industry. I hope that this website
                    can be used to showcase my skills and experience beyond
                    what my resume can do.
                </p>
            </div>
            <svg id="chart" width="8" height="100%">
                <line x1="4" y1="8%" x2="4" y2="92%"></line>
            </svg>
            <div>
                <p>column 2</p>
            </div>
        </div>
    </div>
</div>


