    <div class="subcontainer">
        <div class="paragraph-div">
            <p class="about-first-paragraph">
                My name is Alan Shipman and I am a senior computer science
                major at Boston College with a minors in math and music.
                I am interested in the CS field and am looking for a job in the industry. 
                I hope that this website can be used to showcase my skills 
                and experience beyond what my resumé can do.
            </p>
            <p>
                Throughout this site I hope to tell you more about myself,
                share some of my projects, display my musical works, and in
                general give you a better idea of who I am as well as get a detailed view of my
                education, my coding progress and experience, and my musical experience.
            </p>
            <p>
                The <a href="/coding">coding page</a> will be akin to a dev log. It will explain the
                thought process for each of my projects as well as the
                challenges I faced and how I overcame them. There will also be
                the occasional upcoming project and how I intend to
                implement it. The <a href="/music">music page</a> will be a showcase of my
                compositions as well as some of my performances. All of my
                compositions will be available for purchase through the
                <a href="/contact">contact page</a>.
            </p>
        </div>
        <svg id="chart" width="8px" height="100%" style="margin-left: 16px; margin-right: 16px">
            <line x1="4" y1="4%" x2="4" y2="96%"></line>
        </svg>
        <div style="width: 32%; min-height: fit-content; position: relative;">
            <img class="image"
                ngSrc="/assets/DR2_3188_AlanShipman1.JPG"
                fill
                priority>
        </div>
    </div>
