$step: 19vh; // Define the step size

.tooltipContainer {
    display: flex;
    width: 5 * $step;
    justify-self: center;
    justify-content: left;

    @for $i from 1 through 5 {
        .menu:nth-child(#{$i}) {
            left: ($i - 1) * $step;
            transform: translateX(-4vh + 0.25 * $i);
        }
    }
}

.tooltipDiv {
    position: absolute;
    display: inline-block;
    
}

.menu {
    display: table;
    width: 1.2 * $step;
    height: 8.2vh;
    font-size: 1.8vw;
    margin: 1%;
    border-color: cornsilk;
    border-style: solid;
    border-width: 3.2px;
    border-radius: 20px;
    text-align: center;
    transition: background-color ease 1s;
}

.menu:hover {
    cursor: pointer;
}

span {
    display: table-cell;
    vertical-align: middle;
}

.vertical {
    position: absolute;
    background-color: cadetblue;
    opacity: 0;
    width: 1 * $step;
    height: 10vh;
    transform: translateY(-10px);
    left: 0.1 * $step;
}

