<div class="container">
    <div id="sider-container"
         [ngStyle]="siderContainerStyle">
        <div class="sider"
             id="sider"
             [ngStyle]="siderStyle">
            <p *ngFor="let item of menuItems"
               class="menu-item"
               id={{item.id}}
               (click)="onSiderClick(item)">
                {{item.name}}
            </p>
        </div>
    </div>
    <div id="content-container"
         [ngStyle]="contentContainerStyle">
        <div *ngFor="let item of menuItems"
             class="project"
             id={{item.contentId}}>
            <p class="project-header">
                {{item.name}}
            </p>
            <app-content [content]="item.component"></app-content>
        </div>
    </div>
</div>
