.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 32px;
}

.sider {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 32px;
    //position: fixed;
}

#content-container {
    padding-left: 4px;
}

.menu-item {
    width: fit-content;
}

.menu-item:hover {
    cursor: pointer;
    color: whitesmoke;
}


.project-header {
    font-size: 24px;
    margin: 8px 0 16px 0;
}

.fixed {
    position: fixed;
    top: 0;
    transition: top 0.3s ease;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4.2px;
    width: 100%;
    height: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='1' x2='100%' y2='1' style='stroke: cornsilk; stroke-width: 2.4; stroke-linecap: round'/></svg>");
    background-repeat: repeat-x;
}
