.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: black;
  transform-style: preserve-3d;
  transform-origin: center center -75px;
  transform: rotateX(90deg);
  transition: transform 0.5s ease;
  transition-delay: 1s;
}

.title {
    transition: margin 0.5s ease;
}

.rotate {
  transform-origin: center center -75px;
  transform: rotateX(0deg);
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
}
