@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import 'night-owl';

body {
  font-family: "Comfortaa", system-ui;
  background: #000000;
  color: Cornsilk;
  margin: 0;
}

.title {
  font-family: "Comfortaa";
  font-size: 4rem;
  font-weight: bold;
}
